.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nickname {
  background-color: #d7d7d9;
  max-width: calc(100% - 30rem);
  height: calc(100% - 23rem);
  padding: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.inputcomponent {
  max-width: 100%;
}

.inputarea {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.nicknamemsg {
  color: #e44f4f;
  padding: 0.3rem;
}
