.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nickname {
  background-color: #d7d7d9;
  max-width: calc(100% - 20rem);
  height: auto;
  padding: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  word-break: keep-all;
  overflow: hidden;
}
.inputcomponent {
  width: max-content;
}

.inputarea {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
}

.nicknameTitle {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  word-break: keep-all;
}

.nicknamemsg {
  padding: 0.3rem;
  margin-left: 0.5rem;
}

.error {
  color: #e44f4f;
}

.success {
  color: #61b442;
}

.nicknamebtn {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .nickname {
    max-width: calc(100% - 1rem);
    padding: 1rem;
  }
}
