/* 폰트 전역설정 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 600;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
  /* font-weight: 600; */
  /* font-display: swap; */
}
:root {
  --card-background-rgb: 69, 68, 105;
  --padding-regular: 2rem;
  --margin-regular: 0 0 2rem 0;
  --font-regular-rgb: 255, 255, 255;
  --card-title-font-size: 2rem;
  --card-title-rgb: 51, 190, 125;
  --font-Pretendard-Regular: 'Pretendard-Regular';
  --font-Pretendard-Medium: 'Pretendard-Medium';
  --font-Pretendard-Bold: 'Pretendard-Bold';
  --font-Pretendard-Black: 'Pretendard-Balck';
  --font-Pretendard-ExtraBold: 'Pretendard-ExtraBold';
  --font-Pretendard-Light: 'Pretendard-Light';
  --font-Pretendard-Thin: 'Pretendard-Thin';
  --font-Pretendard-ExtraLight: 'Pretendard-ExtraLight';
  --font-Pretendard-SemiBold: 'Pretendard-SemiBold';
}

* {
  font-family: var(--font-Pretendard-Regular);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #171544;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
