/* 폰트 전역설정 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* 전역에 적용 */
.main:root {
  font-family: var(--font-Pretendard-Medium);
  box-sizing: border-box;
  background-color: #171544;
  color: #ffffff;
}

/* 루트에 폰트 선언 */
.main:root {
  --font-Pretendard-Regular: 'Pretendard-Regular';
  --font-Pretendard-Medium: 'Pretendard-Medium';
  --font-Pretendard-Bold: 'Pretendard-Bold';
}
