.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 6rem 6rem;
  min-height: 100vh;
  width: 96rem;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.searchInput {
  width: calc(100% - 5rem);
}
.create {
  margin: 0 1rem 0 1rem;
}
.createButton {
  background-color: #33be7d;
  color: white;

  height: 3rem;
  width: 3rem;

  border: 0px;
  border-radius: 1.5rem;

  font-size: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin-top: 1rem;
}

.survey {
  width: 10rem;
  height: 30rem;

  border-radius: 1.5rem;

  background-color: white;

  display: sticky;
}

.searchResult > div {
  margin: 0 0 2rem 0;
}
