.createDiv {
  display: flex;
  margin: 2.7rem auto;
  width: 90%;
  justify-content: center;
  height: 5.5rem;
}

.create {
  width: 10rem;
  height: 3.2rem;
  background-color: #668dca;
  color: white;
  border-radius: 1rem;
  text-align: center;
  line-height: 3.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px #414b5c;
}

.cancle {
  width: 10rem;
  height: 3.2rem;
  background-color: rgb(238, 94, 94);
  color: white;
  border-radius: 1rem;
  text-align: center;
  margin-right: 3rem;
  line-height: 3.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px rgb(218, 68, 68);
}

.create:hover {
  background-color: #496ca5;
}
.cancle:hover {
  background-color: #eb4c1c;
}
