.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  background-color: #d7d7d9;
  max-width: calc(100% - 30rem);
  height: auto;
  max-height: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* align-content: center; */
}

.loginContent {
  padding: 2rem;
  text-align: center;
}

.loginLogo {
  width: 80%;
  height: auto;
}

.loginMsg {
  color: #363636;
  margin: 0.5rem;
  padding: 0.5rem;
}

.loginTitle {
  padding: 0.5rem;
  margin: 0.5rem;
}

.backBtn {
  margin-left: auto;
}
