.components {
  width: 100vw;
  background-color: #171544;
  padding-top: 10vh;
}

.regist {
  position: relative;
  width: 850px;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #454469;
  color: white;
}

@media (max-width: 900px) {
  .regist {
    width: 95vw;
  }
}

.title {
  width: 100%;
  height: 10%;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem;
}

.registcard {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}
.wordTag {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.9rem 0 0.8rem 0;
}

.wordTag span {
  color: rgb(226, 118, 68);
  margin-left: 6px;
  font-size: 14px;
}
.icon {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  animation: fadein 1.5s ease-in-out;
}
.button {
  width: 100%;
  height: 15%;
  animation: fadein 2.5s ease-in-out;
}
