.reportButton {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 30px;
  background-color: rgb(238, 64, 64);
  transition: background-color 0.2s;
  font-weight: 600;
  box-shadow: 2px 2px 2px rgb(238, 64, 64);
  cursor: pointer;
}

.reportButton:hover {
  background-color: rgb(224, 5, 5);
}
