.browseButton {
  font-weight: 600;
  cursor: pointer;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  transition: background-color 0.3s;
  transition: color 0.5s;
}

.browseButton:hover {
  background-color: black;
  color: white;
}

.modal {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 0.2px solid black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 2px 3px 2px black;
}

.button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 15px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgb(60, 124, 243);
}
