.base {
  display: flex;
  color: white;
  width: 96rem;
  height: 12rem;
  margin: 0 auto 0;
  padding: 2rem 6rem 2rem 6rem;
  align-items: center;
}

.base div {
  display: flex;
  width: 81%;
  margin: 1rem auto 1rem;
  justify-content: space-between;
}

.headerLogo {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.account,
.headerLogo {
  cursor: pointer;
}

.button {
  width: 60px;
}
