.base {
  display: flex;
  color: white;
  height: 8rem;
  /* border: 2px solid red; */
  width: 68rem;
  margin: 1rem auto 0;
  align-items: center;
  justify-content: space-between;
}

.base div {
  height: 60px;
  line-height: 60px;
  /* background-color: red; */
  font-size: 18px;
}

.base div:hover {
  color: rgb(84, 170, 228);
}
