.twitter {
  cursor: pointer;
  fill: red;
  transition: fill 0.2s;
}
.twitter:hover {
  fill: #00acee; /* 원하는 색상으로 변경 */
  transition: fill 0.2s; /* 0.2초 동안 색상 변경 애니메이션 적용 */
}
.facebook {
  cursor: pointer;
  fill: red;
  transition: fill 0.2s;
}
