/* @import '@/app/globals.css'; */

.base {
  display: flex;
  flex-direction: column;
  background: rgb(var(--card-background-rgb));
  width: 52vw;
  min-width: 300px;
  height: auto;
  border-radius: 1rem;
  padding: 2rem;
  color: rgb(var(--font-regular-rgb));
}

.title {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  color: rgb(var(--card-title-rgb));
  font-weight: 800;
  cursor: pointer;
}

.title:hover {
  color: rgb(var(--card-title-hover-rgb));
}

.description {
  margin: 0 0 2rem 0;
  font-weight: 500;
}

.example span {
  margin: 0 0 2rem 0;
  font-weight: 100;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 0 0;
  font-weight: 500;
}

.nickname {
  color: rgb(var(--card-title-rgb));
  cursor: pointer;
}
.nickname:hover {
  color: rgb(var(--card-title-hover-rgb));
}

.alert {
  display: flex;
  justify-content: flex-end;
}

/* 모바일 */
/* @media only screen and (max-width: 480px) {
} */

/* 태블릿 */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
} */
