/* @import '@/app/globals.css'; */

.base {
  display: flex;
  flex-direction: column;
  background: rgb(var(--card-background-rgb));
  width: 52rem;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 2rem;
  color: rgb(var(--font-regular-rgb));
}

.base div {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  color: rgb(var(--card-title-rgb));
  font-weight: extra-bold;
}

.base p {
  margin: 0 0 2rem 0;
}
