.components {
  width: 100%;
  height: 100vh;
}

.inputtag {
  width: 90%;
  margin: 3rem auto;
  border: 1px solid black;
}
.inputbutton {
  width: 90%;
  margin: 3rem auto;
  border: 1px solid black;
}
