.mainButton {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}

.mainButton:hover {
  font-size: 2.1rem;
  color: rgb(211, 195, 195);
}

.createButton {
  background-color: #33be7d;
  color: white;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0;
}
.createButton:hover {
  background-color: #0caf63;
}
